flows (3).json
[{"id":"1df14907.d7a2a7","type":"tab","label":"simple_regression","disabled":true,"info":""},{"id":"dde69933.87b1f8","type":"function","z":"1df14907.d7a2a7","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"OBSfXScEwsNdgWuQec-458WHO95xGxP0ZD8Q6bm6nf4N\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["4e7b3beb.afec74"]]},{"id":"4e7b3beb.afec74","type":"http request","z":"1df14907.d7a2a7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":390,"y":300,"wires":[["4a73f71c.4a5a18"]]},{"id":"fb06b2d1.3bacf","type":"inject","z":"1df14907.d7a2a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["dde69933.87b1f8"]]},{"id":"3cbf4114.48660e","type":"debug","z":"1df14907.d7a2a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":80,"wires":[]},{"id":"4a73f71c.4a5a18","type":"function","z":"1df14907.d7a2a7","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"deaeffe7-3432-4a4e-987f-1de7405f41d9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"yearsexperince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["f1379910.04f148"]]},{"id":"f1379910.04f148","type":"http request","z":"1df14907.d7a2a7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/deaeffe7-3432-4a4e-987f-1de7405f41d9/deployments/f6e7bb5c-77fb-4508-ad68-32af665a215a/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[["8f096797.78ea78","4a3e4cf1.747fd4"]]},{"id":"14861160.6fbf8f","type":"ui_form","z":"1df14907.d7a2a7","name":"","label":"","group":"22b6bbf9.821d84","order":0,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":360,"wires":[["dde69933.87b1f8"]]},{"id":"500cad6c.2aa314","type":"ui_text","z":"1df14907.d7a2a7","group":"22b6bbf9.821d84","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":200,"wires":[]},{"id":"8f096797.78ea78","type":"function","z":"1df14907.d7a2a7","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["3cbf4114.48660e","500cad6c.2aa314"]]},{"id":"4a3e4cf1.747fd4","type":"debug","z":"1df14907.d7a2a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":440,"wires":[]},{"id":"22b6bbf9.821d84","type":"ui_group","z":"","name":"Default","tab":"66e2ccb3.e360f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"66e2ccb3.e360f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]